<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="../../Logs/internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="dbLogs" fileName="../../Logs/connect_api_dblogs_${date:format=yyyyMMdd}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="appLog" fileName="../../Logs/connect_api_requests_${date:format=yyyyMMdd}.log">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="dateTime" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="requestId" layout="${mdc:item=RequestId}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target xsi:type="File" name="apiRequestLogs"
            fileName="../../Logs/connect_api_requests_${date:format=yyyyMMdd}.log"
            layout="${message} ${exception}" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Info" writeTo="dbLogs" />
    <logger name="Logging" minlevel="Info" writeTo="appLog" />
  </rules>
</nlog>